<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head th:replace="~{fragments::head('Novo professor')}"></head>

<body>
    <header th:replace="~{fragments::header('Novo professor')}"></header>
    <div class="container mt-4">
        <div class="container">
            <div class="row">
                <form th:object="${professorDTO}" action="/professores" method="POST">
                    <div class="mb-3">
                        <!-- O name="{atributo}" - o atributo deve ser com o mesmo nome do objeto-->
                        <label for="form-label">Nome</label>
                        <input class="form-control" th:errorclass="is-invalid" type="text" th:field="*{n}">
                        <div class="invalid-feedback" th:errors="*{n}"></div>
                    </div>
                    <div class="mb-3">
                        <label for="form-label">Salário</label>
                        <input class="form-control" th:errorclass="is-invalid" type="text" th:field="*{sl}">
                        <div class="invalid-feedback" th:errors="*{sl}"></div>
                    </div>
                    <div class="mb-3">
                        <label for="form-label">Status</label>
                        <select class="form-select" th:field="*{st}">
                            <option th:each="status: ${statusProfessor}" th:value="${status}" th:text="${status}">
                            </option>

                        </select>
                    </div>
                    <button class="btn btn-success" type="submit">Adicionar</button>
                    <a class="btn btn-outline-info" href="javascript:history.back()">Voltar</a>
                </form>
            </div>
        </div>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>